/*1ª- px => em */


/* /* .pai {                 
    font-size: 16px;
}

.filho {
    font-size: 2em;
} */

/* se o pai é 16px, 1em = 16px, 2em = 32px */
/* Ou seja, o 'em' sempre faz referencia ao seu pai */






/* 2ª- px => rem */

/* 
html {
    font-size: 24px;
}

.pai {
    font-size: 1rem;
}

.filho {
    font-size: 1rem;
} */


/* A unidade 'rem' é uma sucessora da 'em', ela faz referência sempre
ao elemento 'root' (html) */






/* 3ª- px => % */


/* body,
html {
    width: 100px;
    height: 100%;
}


.container {
    width: 100px;
    height: 400px;
    background-color: blueviolet;
}

.filho {
    width: 100%;
    background-color: black;
} */



/* 4ª- px => vw, vh */


/* html,
body {
    width: 100%;
    height: 100%;
}

.pai {
    width: 300px;
    height: 300px;
    background-color: blue;
}

.filho {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
} */